@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Cho IE và Edge */
  scrollbar-width: none; /* Cho Firefox */
}

/* Cuộn mượt */
.scroll-smooth {
  scroll-behavior: smooth;
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + 20px));
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(calc(100% + 20px));
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 100% { 
        transform: scale(1) rotate(0deg);
    }
    25% { 
        transform: scale(1.1) rotate(-10deg);
    }
    75% { 
        transform: scale(1.1) rotate(10deg);
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 0.15s ease-out;
}


.animate-reaction {
    animation: pop 0.2s ease-out;
}

@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); }
}
